body {
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
}
p{
    margin:0px;
    padding: 0px;
}
.msgHeader{
    color: blue;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding-left: 10px;
}
.msgSuccess{
    color: green;
    padding-left: 20px;
}
.msgError{
    color: red;
    padding-left: 20px;
}

.message{
    color: white;
    padding-left:20px;
}
.message .error{
    color: red;
}
.message .success{
    color: green;
}
